<%= link_to new_whiistle_quoted_whiistle_path(@whiistle), data: { action: "modal#openAndVisit" } do %>
  <%= render component("whiistles/button_inner")do %>
    <i class="bi bi-chat-left-quote" ></i>
    <span>
      Quoted Whiistle
    </span>
  <% end %>
<% end %>