<turbo-frame id=<%= modal_body_target %> >
                            
  <div data-controller="tabs" class="bg-slate-300" data-tabs-index=<%= @index %> data-tabs-active-tab="brightness-90 opacity-90">
    <div class="relative group">
      <% @pictures.map do |picture| %>
        <div class="hidden py-4 px-4" data-tabs-target="panel">
          <%= image_tag picture, class: "object-contain w-full rounded-md", loading: "lazy" %>
        </div>
        
      <% end %>

      <div class="absolute top-1/2 left-8 p-2 aspect-square rounded-full btn-second opacity-0 group-hover:opacity-40" data-action="click->tabs#previous">
        <i class="bi bi-chevron-left"></i>
      </div>
      <div class="absolute top-1/2 right-8 p-2 aspect-square rounded-full btn-second opacity-0 group-hover:opacity-40" data-action="click->tabs#next">
        <i class="bi bi-chevron-right"></i>
      </div>
    </div>
    
    <div class="px-4">
      <ul class="flex overflow-x-scroll justify-center">
        <% @pictures.map do |picture| %>
          <button class="m-1 h-8 w-8 aspect-square btn-second rounded-full opacity-50" data-tabs-target="tab" data-action="mouseover->tabs#change">
          </button>
        <% end %>
      </ul>
    </div>
    

  </div>
</turbo-frame>