<% if @whiistle.respond_to?(:label) && @whiistle.label == "liked_whiistle" %>
  <div class="my-1">
    <i class="bi bi-heart-fill">
      <%= @whiistle.parent_user %> liked
    </i>
  </div>    
<% end %>