<%= render Whiistles::ButtonContainer::Component.new do %>
  <i class="bi bi-repeat text-second">
    <span class="px-2">
      <%= @whiistle.rewhiistles.size + @whiistle.quoting_whiistles.size %>  
    </span>
  </i>
<% end %>
