<%= render Whiistles::ButtonInner::Component.new(active: true) do %>
  <i class="bi bi-repeat"></i>
  <span>
    <%= @whiistle.rewhiistles.size + @whiistle.quoting_whiistles.size %>  
  </span>
<% end %>
