      
<div class="ml-auto mr-2 my-2 justify-content-center flex">
    <%= link_to  "Follow", followings_path(followed_id: user.id), method: :post, class:"ml-auto  flex justify-content-center flex-column custom_button my-2" %>
</div>
