<turbo-frame id=<%= dom_id(@user, :liked_whiistles) %> >
  <div class="p-4 mt-4">
    <%= render "whiistles/whiistles_counter", whiistles: @paginated_whiistles.original_records %>

    <% content_for :pagination_body do %>
        <%= render 'whiistles/list_whiistles', whiistles: @paginated_whiistles.records %>
    <% end %>
    <%= render "shared/infinite_scroll", paginated_records: @paginated_whiistles %>
  </div> 
</turbo-frame>
