<turbo-frame id=<%= dom_id(@user, :liked_whiistles) %> >
  <div class="p-4 mt-4">
    <%= 
      render "shared/infinite_scroll", 
              all_whiistles: @all_whiistles,
              paginated_whiistles: @paginated_whiistles,
              url: user_liked_whiistles_url(@user),
              last_page: @last_page,
              page: @page
    %>
  </div> 
</turbo-frame>
