<turbo-frame id=<%= dom_id(@user, :medias) %> >
  <div class="p-4 mt-4">
    <%= 
      render "shared/infinite_scroll", paginated_whiistles: @paginated_whiistles
    %>
        
  </div> 
</turbo-frame>
