<turbo-frame id=<%= dom_id(user, :medias) %> >
  <div class="p-4 mt-4">
    <%= 
      render "users/paginated_whiistles", 
              paginated_whiistles: paginated_whiistles
    %>        
  </div> 
</turbo-frame>
