<turbo-frame id=<%= dom_id(@user, :medias) %> >
  <div class="p-4 mt-4">
    <%= 
      render "shared/infinite_scroll", 
              all_whiistles: @all_whiistles,
              paginated_whiistles: @paginated_whiistles,
              container_id: "medias_frame",
              url: user_whiistles_url(@user),
              last_page: @last_page,
              page: @page
    %>
        
  </div> 
</turbo-frame>
