<turbo-frame id=<%= dom_id(@user, :whiistles_with_replies) %> >

    <%= render "whiistles/form", 
               form_url: whiistles_url, 
               whiistle: @whiistle,
               label: "Whiistle to #{@user.fullname}"
    %>

    <div class="p-4 mt-4">
      <%= 
        render "shared/infinite_scroll_with_related_whiistles", 
                all_whiistles: @all_whiistles,
                paginated_whiistles: @paginated_whiistles,
                url: user_whiistles_with_replies_url(@user),
                last_page: @last_page,
                page: @page
      %>
    </div> 
</turbo-frame>
