<turbo-frame id=<%= dom_id(@user, :whiistles) %> >
    <%= render "whiistles/form", 
               form_url: whiistles_url, 
               whiistle: @whiistle,
               label: "Whiistle to #{@user.fullname}", wrapper: :whiistle_wrapper, value: "@#{@user.username} "
    %>

    <div class="p-4 mt-4">
        <%= 
          render "shared/infinite_scroll_with_related_whiistles", 
                  all_whiistles: @all_whiistles,
                  paginated_whiistles: @paginated_whiistles,
                  container_id: "whiistles_frame",
                  url: user_whiistles_url(@user),
                  last_page: @last_page,
                  page: @page
        %>
    </div> 
</turbo-frame>
