<div class="border-l border-solid border-second pl-2 pt-1">
  <%= render "whiistles/whiistle", whiistle: whiistle, show_parent: false %>
</div>

<% if whiistle.flood.present? %>
  <%= render "whiistles/all_children_floods", whiistle: whiistle.flood %>
<% end %>