<div class="pl-2 pt-1">
  <%= render "whiistles/whiistle", whiistle: whiistle, hide_flood_info: true %>
</div>

<% if whiistle.flood.present? %>
  <%= render "whiistles/all_children_floods", whiistle: whiistle.flood %>
<% end %>