<div class="flex"> 
  <%= render "whiistles/reply_button", whiistle: whiistle %>
  <%= render "whiistles/toggle_rewhiistle_or_quote_button", whiistle: whiistle %>
  <%= render "whiistles/like_button", whiistle: whiistle %>
</div>