<div class="mt-3 ">
    <% whiistles.includes(user:  [{ profile_picture_attachment: :blob }]).each do |whiistle|  %>
        <%= render "whiistles/whiistle", whiistle: whiistle %>
    <% end %>
</div>
