<% hide_parent_whiistles_of_replies = local_assigns.fetch(:hide_parent_whiistles_of_replies, false) %>
<div class="mt-3 ">
  <% whiistles.each do |whiistle|  %>
    <div class=" border-b border-solid">
      <%= render "whiistles/whiistle", whiistle: whiistle, hide_parent_whiistles_of_replies: hide_parent_whiistles_of_replies %>
    </div>
  <% end %>
</div>
