<div class="p-2 my-2 border border-solid border-first flex rounded-md" >

  <%= render "whiistles/profile_image", user: whiistle.user, size: :small %>

  <div class="pl-2 text-base">
    <%= render "whiistles/user_names_with_timestamp", whiistle: whiistle %>
    <%= render "whiistles/body_and_pictures", whiistle: whiistle %>
  </div>
</div>