<div class="flex items-center">
    
    <div id=<%= whiistle_rewhiistle_button_target(whiistle) %>>
        <% if rewhiistle = Rewhiistle.find_by(whiistle_id: whiistle.id, user_id: current_user.id) %>
            <%= render "whiistles/destroy_rewhiistle_button", rewhiistle: rewhiistle %>
        <% else %>
            <%= render "whiistles/create_rewhiistle_button", whiistle: whiistle %>
        <% end %>
    </div>
    
</div>

