<div class='flex grow'>
    <div class='p-4 w-2/3'>
        
        <%= render "whiistles/form", 
                    form_url: whiistles_url, 
                    whiistle: @whiistle,
                    label: "Whiistle something",
                    enable_quoting_whiistle: true,
                    enable_adding_floods: true
        %>
        
        <div class="p-4 mt-4 ">
            <%= 
              render "shared/infinite_scroll_for_whiistles_index_page", paginated_whiistles: @paginated_whiistles
            %>
            
        </div>
    </div>
    <div class='w-1/3'>
        <h1 class="py-4 pl-4">Who To Follow</h1>
        <%= render 'users/list_users', users: @suggested_users %>
    </div>
</div>
