<div class='flex grow'>
  <div class="p-2 w-2/3">
    <div class='p-2'>
    
      
      <%= render component("whiistles/whiistle_with_connected_whiistles", whiistle: @whiistle, current_user_presenter: @current_user_presenter) %>
    
      <% if @whiistle.replies.present? %>
        <%= render component("whiistles/list_whiistles", whiistles: @whiistle.replies, current_user_presenter: @current_user_presenter) %>
      <% end %>
    </div>
  </div>
  <div class='w-1/3'>
    <%= render component("users/sidebar_right", sidebar_right_presenter: @sidebar_right_presenter) %>
  </div>
</div>
