<li class="mr-1">
  <a 
    <% if @active_tab %>
      class="block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline border-b border-solid border-second" 
    <% else %>
      class="block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline "
    <% end %>
    href=<%= @url %>
    data-turbo-frame="user_tabs"
  >
    <%= @text %>
  </a>
</li>