<%= button_to whiistle_rewhiistle_index_path(@whiistle) do %>
  <%= render Whiistles::ButtonInner::Component.new do %>
    <i class="bi bi-repeat"></i>
    <span>
      Rewhiistle
    </span>
  <% end %>
<% end %>