<%= button_to whiistle_rewhiistle_index_path(@whiistle) do %>
  <%= render component("whiistles/button_inner")do %>
    <i class="bi bi-repeat"></i>
    <span>
      Rewhiistle
    </span>
  <% end %>
<% end %>