<%= button_to whiistle_rewhiistle_path(@rewhiistle.id, @rewhiistle), method: :delete do %>
  <%= render Whiistles::ButtonInner::Component.new active: true do %>
    <i class="bi bi-repeat"></i>
    <span>
      Cancel rewhiistle
    </span>
  <% end %>
<% end %>