<%= render Streams::EnterLeaveAnimationComponent.new do %>

  <%= button_to whiistle_likes_path(@whiistle), class: "p-2" do %>
    <i class="bi bi-heart text-first ">
      <span><%= @whiistle.likes.size %></span> 
    </i>
  <% end %>

<% end %>