<% @whiistles.each do |whiistle|  %>

  <div class=" border p-2 border-solid">
    <% if whiistle.label == "primary_whiistle" && (whiistle.is_a? Reply) %>
    
      <div class="my-1">
        <i class="bi bi-chat " > 
          <%= whiistle.user.fullname %> replied
        </i>
      </div>    
    
      <%= render Whiistles::WhiistleComponent.new(whiistle: whiistle.whiistle, current_user_presenter: @current_user_presenter) %>
      <%= render Whiistles::WhiistleComponent.new(whiistle: whiistle, current_user_presenter: @current_user_presenter) %>

    <% else %>

      <%= render Whiistles::WhiistleWithFloodInfoComponent.new(whiistle: whiistle, current_user_presenter: @current_user_presenter) %>
    <% end %>
  </div>
  
<% end %>