<%= link_to new_whiistle_reply_path(@whiistle), class: "p-2", data: {turbo_frame: whiistle_reply_form_target(@whiistle)} do %>
  <i class="bi bi-chat " > 
    <span class="px-1" id=<%= whiistle_reply_counter_target(@whiistle) %>>
      <%= @whiistle.replies.size %> 
    </span>
  </i>
<% end %>