<%= button_to whiistle_likes_path(@whiistle) do %>
  <%= render Whiistles::ButtonInner::Component.new do %>
    <i class="bi bi-heart"></i>
    <span><%= @whiistle.likes.size %></span> 
  <% end %>
<% end %>