<div class="ml-auto mr-2 my-2 justify-content-center flex" >
  <div class=<%= dom_id(@user, :relation) %>>
    <%= button_to "Follow", relations_path(params: {relation: {followed_id: @user.id}}) %>
  </div>
</div>

