/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$first-color: #15202b;
$second-color: #1da1f2;
$third-color: #657786;
$fourth-color: #f5f8fa;
$fifth-color: darken($first-color, 2%);
$sixth-color: lighten($third-color, 30%);

$colors: (
  first-color: $first-color,
  second-color: $second-color,
  third-color: $third-color,
  fourth-color: $fourth-color,
  fifth-color: $fifth-color,
  sixth-color: $sixth-color,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}

body {
  color: $third-color;
  a {
    color: unset;
  }
}

.sidebar-left {
  width: 255px;
  a {
    &:hover {
      color: $fourth-color;
      background-color: $second-color;
    }
  }
  .nav-link {
    padding: 1.5em;
  }
}

.sidebar-right {
  width: 350px;
}

.border-dark-color {
  border-color: $fifth-color !important;
}
