/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$first-color: #15202b;
$second-color: #1da1f2;
$third-color: #657786;
$fourth-color: #f5f8fa;
$fifth-color: darken($first-color, 2%);
$sixth-color: lighten($third-color, 30%);

$colors: (
  first-color: $first-color,
  second-color: $second-color,
  third-color: $third-color,
  fourth-color: $fourth-color,
  fifth-color: $fifth-color,
  sixth-color: $sixth-color,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}

body {
  color: $third-color;
  a {
    color: unset;
    &:hover {
      color: $first-color;
      text-decoration-line: none;
    }
  }
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  line-height: 1.3125;
  font-weight: 700;
  .rounded {
    border-radius: 0.5rem !important;
  }
}

.sidebar-left {
  width: 255px;
  a:hover {
    color: $sixth-color;
  }
  .nav-link {
    padding: 1.5em;
  }
  .nav {
    a {
      &:hover {
        color: $fourth-color;
        background-color: $second-color;
      }
    }
  }
}

.sidebar-right {
  width: 350px;
}

.border-dark-color {
  border-color: $fifth-color !important;
}

.border-light-color {
  border-color: $sixth-color !important;
}

.hover-image {
  img:hover {
    filter: blur(0.5px);
  }
}

.bigger-icon {
  font-size: 1.5em;
}

input:hover {
  background-color: $sixth-color;
}

.click {
  background-color: #ffd700;
}

.notice,
.alert {
  color: $fourth-color;
  text-align: center;
  background-color: $second-color;
}

.cover-image {
  background-color: $third-color;
}
