<header class='header bg-second-color w-100 px-4 py-3 d-flex align-items-center'>
    <%= link_to root_path do %>
        <%= render 'layouts/logo' %>
    <% end %>
    <div class="ml-auto ">
        <a href="#">
            <i class="fas fa-pen mx-2  bigger-icon"></i>
        </a>
        <a href="#">
            <i class="fas fa-envelope mx-2 bigger-icon"></i>
        </a>
        <a href="#">
            <i class="fas fa-search mx-2 bigger-icon"></i>
        </a>
        <a href="#">
            <i class="fas fa-cog mx-2 bigger-icon"></i>
        </a>
    </div>
</header>
