<div class="ml-auto ">
    <a href="#">
        <i class="fas fa-pen mx-2  bigger-icon"></i>
    </a>
    <a href="#">
        <i class="fas fa-envelope mx-2 bigger-icon"></i>
    </a>
    <a href="#">
        <i class="fas fa-search mx-2 bigger-icon"></i>
    </a>
    <a href="#">
        <i class="fas fa-cog mx-2 bigger-icon"></i>
    </a>
    <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt bigger-icon"></i>
    <% end %>
</div>
