<div class="ml-auto text-xl flex self-center gap-4">
    <a href="#">
        <i class="bi bi-pencil-fill"></i>
    </a>
    <a href="#">
        <i class="bi bi-envelope-fill"></i>
    </a>
    <a href="#">
        <i class="bi bi-search"></i>
    </a>
    <%= link_to edit_user_registration_path do %>
        <i class="bi bi-gear-fill"></i>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="bi bi-box-arrow-right"></i>
    <% end %>
</div>
